/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* PubNub IoT Internet of Things Color Palette

    #4e4687 - purple 1
    #49427c - purple 2
    #433c76 - purple 3
    #322c60 - dark purple
    #182030 - dark dark purple
    #5b58b6 - saturated purple
    #cdcce0 - gray
    #76aa8c - green - callout

    #a32825 - red
    #dddde4 - light gray
    #bdbfcb - gray
    #acd5d8 - cyan
    #5e6741 - dark green
    #565192 - purple
    #6da87c - light green
    #f2cda1 - human skin
    #dfb965 - light chartreuse
*/

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Main Section */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.section-main {
    background-image: linear-gradient( to bottom, #2a1b52, #533b89 );
    color: #fff;
}
.section-main-h1 {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin: 30px 0 40px 0;
}
.section-main-pubnub-logo {
    height: 40px;
    margin: 50px 0 30px 0;
}
.section-main-whirly {
    margin: 30px 0 30px 0;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Hero Graphic Animated Dots */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.hero-animated-dots {
    display: inline-block;
    background: #6da87c;
    height: 200px;
    width: 255px;
}
.hero-animated-dots-mask {
    -webkit-mask-repeat: repeat-x;
    -webkit-mask-size: 17px 17px;
    -webkit-mask-image: url(../media/dots-mask.png);
    -webkit-mask-position: 0px 67px;
}
.hero-animated-dots-spin {
    width: 600px;
    height: 200px;
    background: -webkit-linear-gradient(
        left,
        rgba(255,255,255,0)   0%,
        rgba(255,255,255,0)  30%,
        rgba(255,255,255,1)  50%,
        rgba(255,255,255,0)  70%,
        rgba(255,255,255,0) 100%
    );
    background-size: 60px 100px;
}
.animateddots {
    -webkit-animation: animateddots 3s infinite normal linear;
}
.animateddots-alt {
    -webkit-animation: animateddots 2s infinite alternate linear;
}
@-webkit-keyframes animateddots {
    0%   { -webkit-transform: translate3d(   0px,0,0); }
    100% { -webkit-transform: translate3d(-300px,0,0); }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Hero Graphic Circles */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#hero-circle-left,
#hero-circle-right {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 26px 0 0 0;
    border-radius: 100px;
    line-height: 114px;
    font-size: 72px;
    text-align: center;
    color: rgba(255,255,255,0.9);
    text-shadow: 0 0 10px rgba(255,255,255,0.3);
}
#hero-circle-center {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    line-height: 180px;
    font-size: 120px;
    text-align: center;
    color: rgba(255,255,255,0.9);
    text-shadow: 0 0 10px rgba(255,255,255,0.3);
}
#hero-circle-left {
    background: #5b58b6;
}
#hero-circle-center {
    background: #f2cda1;
}
#hero-circle-right {
    background: #a32825;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Section Mini Description */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.section-mini-description-lead {
    margin: 80px 0 80px 0;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Utilities */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.relative {
    position: relative;
}

button,
textarea,
input {
    outline: none !important;
}

